---

---

<div class="about w-full h-auto py-8 grid md:grid-cols-2 grid-cols-1">
  <div class="text-cont flex-auto">
    <h1 class="text-left font-normal md:text-[38px] md:leading-[45px] text-3xl">
      We build digital solutions that work — fast, functional, and designed for
      impact. Our team specializes in Web & Mobile Development, Cloud & DevOps,
      UI/UX Design, Consulting Services, and AI/ML & Data Services. Whether
      you're launching a product, scaling infrastructure, or rethinking user
      experience, we help you move with confidence. We combine deep technical
      skills with real-world experience to deliver results that matter.
    </h1>
  </div>
  <div class="hidden md:block"></div>
</div>
