---
import heroImage from '../assets/images/hero3.jpg'
---
<div class="relative w-full h-screen">
  <!-- Image en fond -->
  <img src={heroImage.src} alt="hero image" class="w-full h-full object-cover" />

  <!-- Texte superposé -->
  <div class="absolute inset-0 flex items-center justify-center px-4">
    <h1
      class="uppercase text-white font-light md:text-[112px] text-[38px] text-center md:leading-[120px]"
      id="quote"
    >
      End-to-end Technical Solutions for Modern Businesses
    </h1>
  </div>
</div>

<script>
  import SplitType from "split-type";
  import { gsap } from "@/utils/gsap";

  let text = new SplitType("#quote"),
    tl = gsap.timeline();

  tl.from(
    text.chars,
    { duration: 0.6, autoAlpha: 0, scale: 2, force3D: true, stagger: 0.02 },
    0.5
  )
    .to(
      text.words,
      { duration: 0.2, color: "#ff8709", scale: 0.9, stagger: 0.1 },
      "words"
    )
    .to(
      text.words,
      { duration: 0.4, color: "white", scale: 1, stagger: 0.1 },
      "words+=0.1"
    )
    .from(text.lines, {
      duration: 0.5,
      y: 50,
      stagger: 0.2,
    });
</script>
