---
import heroImage from '../assets/images/hero3.jpg'
---
<div class="my-image py-3 h-[80%] w-full">
    <img src={heroImage.src} alt="hero image" class="w-full h-full object-cover md:mt-[100px] mt-14">
</div>