---
import heroImage from '../assets/images/hero3.jpg'
---
<div class="my-image py-3 md:h-[90dvh] w-full md:mb-[200px]">
    <img src={heroImage.src} alt="hero image" class="w-full h-full object-cover md:mt-[100px] mt-14">
</div>