---
import { LoaderCircle } from "@lucide/astro";
import OffcanvasMenu from "./offcanvas/OffcanvasMenu.astro";
import Toggle from "./Toggle.astro";
import Hero from "./Hero.astro";
import ImageContainer from "./ImageContainer.astro";
import Description from "./Description.astro";
import Services from "./services/Services.astro";
import WorkSection from "./Work/WorkSection.astro";
import CaseStudy from "./case-study/CaseStudy.astro";
import Workflow from "./workflow/Workflow.astro";
import CallToAction from "./cta/CallToAction.astro";
import Test from "./cta/Test.astro";
 
 
---
<div class="md:px-[50px] px-6 pt-[150px] flex flex-col justify-start items-center h-auto w-screen">
	<OffcanvasMenu />
	<Toggle />
	<Hero />
	<!-- <ImageContainer />-->
	<Description />
	<Services />
	<WorkSection />
	<CaseStudy />
	<Workflow />
	<CallToAction/>
</div>