---

---

<div class="toggle fixed md:top-[2.7vw] top-[9.4vw] md:right-[3vw] right-[5vw] z-[1000]">
  <div
    class="flex flex-col gap-2.5 justify-center items-center w-[40px] p-px cursor-pointer menu-icon"
  >
    <div class="w-full h-[1px] bg-black bar1"></div>
    <div class="w-full h-[1px] bg-black bar2"></div>
  </div>
</div>
<script>
import { gsap } from "gsap";

const offcanvas = document.querySelector(".offcanvas");
const toggle = document.querySelector(".toggle");
const menuIcon = document.querySelector(".menu-icon");
const bar1 = document.querySelector(".bar1");
const bar2 = document.querySelector(".bar2");

let isOpen = false;

const openMenu = () => {
  // Show the offcanvas menu
  offcanvas?.classList.remove("hidden");
  gsap.to(offcanvas, { height: "100vh", duration: 0.5, ease: "power2.out" });

  // Animate hamburger icon to X
  gsap.to(bar1, { rotation: 45, y: 6, backgroundColor: "white", duration: 0.3 });
  gsap.to(bar2, { rotation: -45, y: -6, backgroundColor: "white", duration: 0.3 });

  // Ensure toggle stays above
  toggle?.classList.add("z-[99999]");
};

const closeMenu = () => {
  // Animate height down then hide
  gsap.to(offcanvas, {
    height: "0vh",
    duration: 0.4,
    ease: "power2.in",
    onComplete: () => {
      offcanvas?.classList.add("hidden");
    },
  });

  // Animate icon back to hamburger
  gsap.to(bar1, { rotation: 0, y: 0, backgroundColor: "black", duration: 0.3 });
  gsap.to(bar2, { rotation: 0, y: 0, backgroundColor: "black", duration: 0.3 });

  // Restore z-index
  toggle?.classList.remove("z-[99999]");
};

menuIcon?.addEventListener("click", () => {
  isOpen ? closeMenu() : openMenu();
  isOpen = !isOpen;
});
</script>
