---

---

<div class="toggle fixed md:top-[3vw] top-[9.4vw] md:right-[3vw] right-[5vw] z-[1000]">
  <div
    class="flex flex-col gap-2.5 justify-center items-center w-[40px] p-px cursor-pointer menu-icon"
  >
    <div class="w-full h-[1px] bg-black bar1"></div>
    <div class="w-full h-[1px] bg-black bar2"></div>
  </div>
</div>
<script>
  //TOGGLE HAMBURGER ICON
  import { gsap } from "@/utils/gsap";
  const menuIcon = document.querySelector<HTMLElement>(".menu-icon");
  const bar1 = document.querySelector<HTMLElement>(".bar1");
  const bar2 = document.querySelector<HTMLElement>(".bar2");

  let isOpen = false;

  menuIcon?.addEventListener("click", () => {
    if (isOpen) {
      gsap.to(bar1, { rotation: 0, y: 0, backgroundColor: 'black', duration: 0.3 });
      gsap.to(bar2, { rotation: 0, y: 0, backgroundColor: 'black', duration: 0.3 });
    } else {
      gsap.to(bar1, { rotation: 45, y: 6, backgroundColor: 'white', duration: 0.3 });
      gsap.to(bar2, { rotation: -45, y: -6, backgroundColor: 'white', duration: 0.3 });
    }
    isOpen = !isOpen;
  });
</script>
