---
import { LoaderCircle } from "@lucide/astro";
---
<div class="p-2.5 flex flex-col justify-center items-center h-full">
	<LoaderCircle class="animate-spin" size={60}/>
	<div class="font-neue font-bold">Development loading</div>
</div>