---
import SeperatorBlurred from "../SeperatorBlurred.astro";
const { workflow } = Astro.props
---

<div class="card flex bg-white flex-col items center w-full mb-[80px]">
  <div class="w-full md:mt-2">
    <SeperatorBlurred />
  </div>
  <div class="flex flex-col items-start pt-3 w-full">
    <div class="flex flex-col items-start justify-start gap-2.5 w-full">
      <div class="text-3xl text-[#70707b]">{workflow.number}</div>
      <div class="head-wrapper relative w-full">
        <h1 class="text-3xl md:text-5xl font-medium capitalize f absolute left-0 top-0 w-full">{workflow.title}</h1>
        <h1 class="text-3xl md:text-5xl font-medium capitalize s absolute left-0 top-0 w-full">{workflow.title}</h1>
      </div>
    </div>
    <div class="flex flex-col md:flex md:flex-row justify-between items-stretch w-full gap-[50px]">
      <div class="w-full md:w-1/2 pt-[60px] md:pt-[100px] flex items-start">
        <p class="text-left md:text-2xl">{workflow.description}</p>
      </div>
      <div class="w-full md:w-1/2 flex items-center justify-end">
        <div class="image bg-gray-300 h-[300px] md:h-[400px] w-[400px]"></div>
      </div>
    </div>
  </div>
</div>
