---

---
<div class="link-container hidden md:flex gap-3 items-start">
    <div class="text-white capitalize"><a href="">Privacy Policy</a></div>
    <div class="text-white capitalize"><a href="">Cookie Policy</a></div>
    <div class="text-white capitalize"><a href="">Terms & Conditions</a></div>
</div>