---

---

<div class="md:flex flex md:flex-row items-stretch flex-col flex-[1_0_100%] gap-[30px] md:gap-[100px] work p-3">
  <div class="image-container w-full md:w-[50%] flex items-center">
    <div class="img w-full h-[300px] md:h-[500px] bg-gray-300 flex items-center justify-center">Image Placeholder</div>
  </div>
  <div class="text-container w-full md:w-[50%] flex flex-col justify-start items-start gap-3 md:gap-[50px]">
    <div class="flex items-center justify-start gap-5">
      <div class="text-2xl md:text-[90px] uppercase">project</div>
      <div class="text-2xl md:text-[90px] uppercase pn">01</div>
    </div>
    <div class="text">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
      repudiandae distinctio doloribus laborum voluptatibus provident aut ullam,
      modi magnam nam sequi assumenda neque animi debitis ad excepturi placeat
      praesentium sed.
    </div>
  </div>
</div>
